.chart-container {
  position: relative;
  height: 130px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
  user-select: none;
}

.chart {
  position: absolute;
  height: calc(100% - 10px);
  width: 100%;
  top: 10px;
}

#controle-container {
  position: relative;
  width: 100%;
}

.ligne {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}

.ligne-seuil {
  cursor: row-resize;
}

.ligne-position {
  cursor: col-resize;
}

.ligne-gauche {
  cursor: col-resize;
}

.ligne-droite {
  cursor: col-resize;
}

@media screen and (max-width: 767px) {
  .chart-container {
    position: relative;
  }
}