.control {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 20000;
  background-color: rgba(255, 255, 255, 0.75);
  /*border: 3px solid rgb(110, 110, 112);*/
  border: 2px solid;
}

.control td {
  padding: 5px;
}

.control label {
  padding: 5px;
}

.stop {
  margin-left: 15px;
}

.lire-gpx {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
}

.lire-gpx-lien {
  padding-top: 10px;
  padding-left: 10px;
  text-decoration: underline;
  color: mediumblue;
  cursor: pointer;
  width: 110px;
  height: 30px;
}

.upload {
  /* border: 3px solid rgb(110, 110, 112);
    border-radius: 5px;*/
  margin: 10px;
  padding: 10px;
  width: 290px;
}

.upload button {
  margin-top: 10px;
}

.reglages {
  display: block;
}

.rapidite {
  width: 40px;
}

.fenetre {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
}

.div-fenetre-largeur span {
  padding-left: 10px;
}

.magneto {
  margin: 15px;
}

.stop {
  margin-left: 25px;
}

.fenetre-magneto {
  padding-left: 40px;
  padding-right: 0;
}

.div-fenetre-largeur {
  display: inline;
}

.fenetre-largeur {
  width: 50px;
}

.div-seuil {
  margin-top: -10px;
}

.seuil {
  width: 60px;
  color: red;
  text-align: right;
}

.reglages label {
  margin-left: 30px;
}

.position {
  width: 60px;
  text-align: right;
}

.temps {
  width: 60px;
  text-align: right;
}

.vitesse {
  width: 60px;
  text-align: right;
  font-weight: bold;
}

.distance-seuil {
  width: 60px;
  text-align: right;
  color: red;
}

.slider-wrapper {
  height: 0;
  padding-top: 10px;
}

.slider-wrapper input {
  width: 132px;
  height: 40px;
  margin: 0;
  transform-origin: 66px 66px;
  transform: rotate(-90deg);
}

.check {
  padding-left: 15px;
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .control {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
    max-width: 100%;
    left: 0;
    right: 15px;
    top: 0;
    font-size: 12px;
  }

  .fichier {
    width: 200px;
  }

  .stats {
    display: none;
  }

  .slider-wrapper input {
    width: 110px;
    height: 40px;
    margin: 0;
    transform-origin: 55px 55px;
    transform: rotate(-90deg);
  }

  .stop {
    margin-left: 5px;
  }
}
