<div class="control">


    <div class="lire-gpx">Lire fichier GPX</div>
    <form class="upload" enctype="multipart/form-data" action="fileupload.php" method="post">
        <input type="hidden" name="MAX_FILE_SIZE" value="10000000" />
        <input type="file" name="monfichier" accept=".gpx" />
        <input type="submit" />
    </form>


    <div class="reglages">
        <div class="slider-wrapper">
            <input type="range" class="curseur" min="0" max="100" step="any">
        </div>
        <div class="div-seuil">
            <table>
                <tr>
                    <td><label>Seuil ></label></td>
                    <td><input type="text" class="seuil" [ngModel]="vSeuil | number: '1.0-0'" (ngModelChange)="vSeuil=$event"></td>
                    <td>kts</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="distance-seuil"></div>
                    </td>
                    <td>km</td>
                </tr>
                <tr>
                    <td><label>Distance</label></td>
                    <td><input type="text" class="position" [ngModel]="xPosition | number: '1.0-3'" (ngModelChange)="xPosition=$event"></td>
                    <td>km</td>
                </tr>
                <tr class="ligne-temps" style="display: none;">
                    <td><label>Temps</label></td>
                    <td><input type="text" class="temps"></td>
                    <td>s</td>
                </tr>
                <tr>
                    <td><label>Vitesse</label></td>
                    <td>
                        <div class="vitesse"></div>
                    </td>
                    <td>kts</td>
                </tr>
            </table>
        </div>
    </div>


    <div class="fenetre">
        <input type="checkbox" class="fenetre-auto">
        <label class="label-fenetre-auto">Fenêtre auto</label>
        <div class="div-fenetre-largeur">
            <input type="text" class="fenetre-largeur"> km
        </div>
    </div>
    <div class="magneto">
        <button class="lecture" type="button">Lecture</button>
        <label>x</label>
        <input type="text" class="rapidite">
        <button class="stop" type="button">Stop</button>
    </div>

    <div class="stats">
        <input class="calcule" type="checkbox">
        <label>Statistiques</label>
        <table>
            <tr>
                <td><input class="affiche-vmax" type="checkbox"></td>
                <td>VMax</td>
                <td class="vmax"></td>
                <td>kts</td>
            </tr>
            <tr>
                <td><input class="affiche-v100m" type="checkbox"></td>
                <td>V100m</td>
                <td class="v100m"></td>
                <td>kts</td>
            </tr>
            <tr>
                <td><input class="affiche-v500m" type="checkbox"></td>
                <td>V500m</td>
                <td class="v500m"></td>
                <td>kts</td>
            </tr>
            <tr>
                <td><input class="affiche-v2s" type="checkbox"></td>
                <td>V2s</td>
                <td class="v2s"></td>
                <td>kts</td>
            </tr>
            <tr>
                <td><input class="affiche-v5s" type="checkbox"></td>
                <td>V5s</td>
                <td class="v5s"></td>
                <td>kts</td>
            </tr>
            <tr>
                <td><input class="affiche-v10s" type="checkbox"></td>
                <td>V10s</td>
                <td class="v10s"></td>
                <td>kts</td>
            </tr>
        </table>
    </div>

</div>
