<div class="control">
  <div class="controle1">
    <div class="fichier">
      <div
        [ngClass]="{ 'lire-gpx-lien': estOK, 'lire-gpx': !estOK }"
        (click)="clickUploadGpx()"
      >
        Lire fichier GPX
      </div>

      <div *ngIf="uploadGpx || !estOK" class="upload">
        <input
          (change)="this.onFilechange($event)"
          class="form-control"
          type="file"
          accept=".gpx"
        />
        <button (click)="this.upload()" type="button">Envoyer</button>
      </div>
    </div>

    <div *ngIf="estOK">
      <div class="reglages">
        <div class="slider-wrapper">
          <input
            type="range"
            class="curseur"
            min="0"
            [max]="vmax"
            step="any"
            [(ngModel)]="vSeuil"
          />
        </div>
        <div class="div-seuil">
          <table>
            <tr>
              <td><label>Seuil ></label></td>
              <td>
                <input
                  type="text"
                  class="seuil"
                  [ngModel]="vSeuil | number : '1.2-2'"
                  [ngModelOptions]="{ updateOn: 'blur' }"
                  (ngModelChange)="vSeuil = $event"
                />
              </td>
              <td>kts</td>
            </tr>
            <tr>
              <td></td>
              <td>
                <div class="distance-seuil">
                  {{ distanceSeuil | number : "1.3-3" }}
                </div>
              </td>
              <td>km</td>
            </tr>
            <tr>
              <td><label>Distance</label></td>
              <td>
                <div class="position">
                  {{ xPosition | number : "1.3-3" }}
                </div>
              </td>

              <td>km</td>
            </tr>
            <tr>
              <td><label>Temps</label></td>
              <td>
                <div class="position">
                  {{ tPosition | formatTime }}
                </div>
              </td>

              <td>h</td>
            </tr>
            <tr>
              <td><label>Vitesse</label></td>
              <td>
                <div class="vitesse">{{ vitesse | number : "1.2-2" }}</div>
              </td>
              <td>kts</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="controle2">
    <div *ngIf="afficheFenetre" class="fenetre">
      <input
        type="checkbox"
        class="fenetre-auto"
        [(ngModel)]="fenetre.auto"
        (ngModelChange)="metAjourFenetre()"
      />
      <label class="label-fenetre-auto">Fenêtre auto</label>
      <div *ngIf="fenetre.auto" class="div-fenetre-largeur">
        <input
          type="text"
          class="fenetre-largeur"
          [(ngModel)]="fenetre.largeur"
          (ngModelChange)="metAjourFenetre()"
        />
        <span>km</span>
      </div>
    </div>
    <div class="magneto">
      <button class="lecture" type="button" (click)="lecture()">Lecture</button>
      <label>x</label>
      <input
        type="text"
        class="rapidite"
        [(ngModel)]="rapidite"
        (ngModelChange)="rapiditeChange()"
      />
      <button class="stop" type="button" (click)="stop()">Stop</button>
    </div>

    <div class="check stats">
      <input type="checkbox" [(ngModel)]="visuStats" />
      <label>Statistiques</label>
    </div>
    <div *ngIf="afficheBoutonChutes" class="check">
      <input type="checkbox" [(ngModel)]="visuChutes" />
      <label>Chutes</label>
    </div>
    <div *ngIf="visuGraphes" class="graphes">
      <div class="check graphe-distance">
        <input type="checkbox" [(ngModel)]="visuGraphDistance" />
        <label>Graphique v / x</label>
      </div>
      <div class="check graphe-temps">
        <input type="checkbox" [(ngModel)]="visuGraphTemps" />
        <label>Graphique v / t</label>
      </div>
    </div>
  </div>
</div>
