.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 150px;
    margin: 10px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }

  .time {
    display: inline-block;
    position: absolute;
    bottom: -2px;
    z-index: 100000;
    margin-right: 16px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }
  