.stat {
  display: block;
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  height: calc(100% - 280px);
  z-index: 20000;
  /*background-color: rgba(255, 255, 255, 0.75);*/
  border: 2px solid;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  width: auto;
}

.titre {
  width: 120px;
  text-align: left;;
}

.nom { 
  text-align: left;
  background-color: white;
  color: black;
} 

.first {
  font-weight: bold;
}

.ligne {
  /*border: 1px solid;*/
}

.ligne:hover, .selected {
  background-color: white;
  color: black;
}

.ligne:hover .valeur {
  color: black;
} 

.valeur {
  color: white;
  text-align: right;
} 

.c1 {
  color:blue;
}
.c2 {
  color:blueviolet;
}
.c3 {
  color:chartreuse;
}
.c4 {
  color:cyan;
}
.c5 {
  color:coral;
}
.c6 {
  color:crimson;
}
.c7 {
  color:darksalmon;
}
.c8 {
  color:darkseagreen;
}
.c9 {
  color:deeppink;
}
.c10 {
  color:darkgreen;
}


