.stat {
  position: absolute;
  top: 300px;
  left: 20px;
  z-index: 20000;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px solid;
}

.valeur {
  text-align: right;
}

.first {
  font-weight: bold;
}

.ligne {
  border: 1px solid;
}
