<div *ngIf="visuStats && calculOk" class="stat" [ngStyle]="{ 'bottom.px': bottom }" >
  <table class="entete">
    <table>
      <tr>
        <th class="titre">Statistiques</th>
        <th style="text-align:right"></th>
        <th style="text-align:right">{{ tmax | formatTime }}</th>
        <th class="unite">h</th>
      </tr>
      <tr>
        <th></th>
        <th style="text-align:right"></th>
        <th style="text-align:right" >{{ dmax | number : "1.3-3" }}</th>
        <th class="unite">km</th>
      </tr>
      <tr>
        <th></th>
        <th style="text-align:right">Vmax</th>
        <th style="text-align:right">{{ vmax | number : "1.2-2" }}</th>
        <th class="unite">kts</th>
      </tr>
    </table>
  </table>
  <table class="liste1">
    <tr
      *ngFor="let s of stats; let i = index"
      [ngClass]="{ selected: i == iStat }"
      (click)="ligneClick(i)"
    >
      <td>
        <table class="ligne">
          <th colspan="2" class="nom">
            {{ s.nom }}
          </th>
          <th colspan="3">
            5x {{ s.x5 | number : "1.2-2" }}
            10x {{ s.x10 | number : "1.2-2" }}
          </th>
          <tr>
            <td
              *ngFor="
                let v of s.v | slice : 0 : 5;
                let j = index;
                let isFirst = first
              "
              [ngClass]="{
                valeur: i != iStat,
                c1: i == iStat && j == 0,
                c2: i == iStat && j == 1,
                c3: i == iStat && j == 2,
                c4: i == iStat && j == 3,
                c5: i == iStat && j == 4
              }"
            >
              <span
                (click)="valeurClick(i, j)"
                [ngClass]="{ first: isFirst }"
                >{{ v.v | number : "1.2-2" }}</span
              >
            </td>
          </tr>
          <tr>
            <td
              *ngFor="let v of s.v | slice : 5 : 10; let j = index"
              [ngClass]="{
                valeur: i != iStat,
                c6: i == iStat && j == 0,
                c7: i == iStat && j == 1,
                c8: i == iStat && j == 2,
                c9: i == iStat && j == 3,
                c10: i == iStat && j == 4
              }"
            >
              <span (click)="valeurClick(i, j + 5)">{{
                v.v | number : "1.2-2"
              }}</span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
