.stat {
  display: block;
  position: fixed;
  left: 20px;
  top: 305px;
  padding: 0;
  margin: 0;
  overflow-y: scroll;

  height: calc(100% - 520px);
  z-index: 20000;
  /*background-color: rgba(255, 255, 255, 0.75);*/
  border: 2px solid;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  width: auto;
}

.valeur {
  text-align: right;
}

.first {
  font-weight: bold;
}

.ligne {
  border: 1px solid;
}
