<app-map *ngIf="estOK"
  [iPosition]="iPosition"
  [iFenetre]="iFenetre"
  [vSeuil]="vSeuil"
  [visuStats]="visuStats"
  [stat]="stat"
  (positionChange)="majPosition($event)"
  (statChange)="majStat($event)"
></app-map>
<app-chart *ngIf="estOK && !ecranMini"
  [iPosition]="iPosition"
  [vSeuil]="vSeuil"
  [largeurFenetre]="largeurFenetre"
  [fenetreAuto]="fenetreAuto"
  (positionChange)="majPosition($event)"
  (seuilChange)="majSeuil($event)"
  (fenetreChange)="majFenetre($event)"
  (fenetreAutoChange)="majFenetreAuto($event)"
  (chartOkChange)="majOkCalculeStat($event)"
></app-chart>
<app-control *ngIf="!ecranMini"
  [estOK]="estOK"
  [iPosition]="iPosition"
  [vSeuil]="vSeuil"
  [fenetreAuto]="fenetreAuto"
  (positionChange)="majPosition($event)"
  (seuilChange)="majSeuil($event)"
  (fenetreAutoChange)="majFenetreAuto($event)"
  (largeurFenetreChange)="majLargeurFenetre($event)"
  (visuStatsChange)="majVisuStats($event)"
></app-control>
<app-stat *ngIf="estOK"
  [visuStats]="visuStats"
  [stat]="stat"
  [okCalculeStat]="okCalculeStat"
  (statChange)="majStat($event)"
  (positionChange)="majPosition($event)"
></app-stat>
