<app-map *ngIf="estOK"
  [iPosition]="iPosition"
  [iFenetre]="iFenetre"
  [vSeuil]="vSeuil"
  [visuStats]="visuStats"
  [tabVisuStats]="tabVisuStats"
  (positionChange)="majPosition($event)"
></app-map>
<app-chart *ngIf="estOK"
  [iPosition]="iPosition"
  [vSeuil]="vSeuil"
  [largeurFenetre]="largeurFenetre"
  [fenetreAuto]="fenetreAuto"
  [visuStats]="visuStats"
  [tabVisuStats]="tabVisuStats"
  (positionChange)="majPosition($event)"
  (seuilChange)="majSeuil($event)"
  (fenetreChange)="majFenetre($event)"
  (fenetreAutoChange)="majFenetreAuto($event)"
></app-chart>
<app-control
  [estOK]="estOK"
  [iPosition]="iPosition"
  [vSeuil]="vSeuil"
  [fenetreAuto]="fenetreAuto"
  (positionChange)="majPosition($event)"
  (seuilChange)="majSeuil($event)"
  (fenetreAutoChange)="majFenetreAuto($event)"
  (largeurFenetreChange)="majLargeurFenetre($event)"
  (visuSatsChange)="majVisuStats($event)"
  (tabVisuStatsChange)="majTabVisuStats($event)"
></app-control>
<app-stat>
  
</app-stat>
