<app-control
  [estOK]="estOK"
  [iPosition]="iPosition"
  [vSeuil]="vSeuil"
  [fenetre]="fenetre"
  [afficheFenetre]="!(visuStats && iStat > - 1)"
  (positionChange)="majPosition($event)"
  (seuilChange)="majSeuil($event)"
  (fenetreChange)="majFenetre()"
  (visuStatsChange)="majVisuStats($event)"
  (visuChutesChange)="majVisuChutes($event)"
></app-control>
<app-map *ngIf="estOK"
  [iPosition]="iPosition"
  [vSeuil]="vSeuil"
  [visuStats]="visuStats"
  [visuChutes]="visuChutes"
  [iStat]="iStat"
  [calculStatOk]="calculStatsOk"
  [fenetre]="fenetre"
  (positionChange)="majPosition($event)"
  (iStatChange)="majiStat($event)"
></app-map>
<app-chart *ngIf="estOK && !ecranMini"
  [iPosition]="iPosition"
  [vSeuil]="vSeuil"
  [fenetre]="fenetre"
  [visuStats]="visuStats"
  [visuChutes]="visuChutes"
  [iStat]="iStat"
  [afficheFenetre]="!(visuStats && iStat > - 1)"
  (positionChange)="majPosition($event)"
  (seuilChange)="majSeuil($event)"
  (fenetreChange)="majFenetre()"
></app-chart>
<app-stat *ngIf="estOK"
  [visuStats]="visuStats"
  [iStat]="iStat"
  (calculOkChange)="majCalculStatsOk($event)"
  (iStatChange)="majiStat($event)"
  (positionChange)="majPosition($event)"
></app-stat>
